@import "light-app";
//@import "dark-app";

body {
  font-family: -apple-system,BlinkMacSystemFont,SF UI Text,Helvetica Neue,PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  color: var(--font-color);
  background: var(--body-bg-color);
}

.app {
  //width: 100vw;
  min-height: 100vh;
  background: var(--body-bg-color) url(/image/login_bg.svg) no-repeat center 110px;
  background-size: 100%;
}

.axios-error {
  z-index: 99999 !important;
}

.text-primary-color {
  color: $color-primary;
}

.rounded {
  border-radius: 4px;
}

.shadow {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.shadow-2xl {
  box-shadow: 0 12px 50px 0px rgba(0, 0, 0, 0.2);
}
