:root {
  //color-scheme: light dark;
  --header-bg-color: #fff;
  --nav-bg-color: #fff;
  --nav-hover-bg-color: #f3f3f3;
  --body-bg-color: #f6f7f8;
  --font-color: #1a1b1c;
  --border-color: #EBEEF5;
}
